%h1 login

- if signed_in?
  Yout are already signed in.
  = link_to 'Logout', destroy_user_session_path, method: :delete

- else
  Please sign in.

  = form_tag user_session_path do
    = text_field_tag :username
    = password_field_tag :password
    = submit_tag
