- model_class = Photo
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:flickr_photo_id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:camera_id)
      %th= model_class.human_attribute_name(:lens_id)
      %th= model_class.human_attribute_name(:taken_at)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @photos.each do |photo|
      %tr
        %td= link_to photo.id, admin_photo_path(photo)
        %td= photo.flickr_photo_id
        %td= link_to photo.title, admin_photo_path(photo)
        %td= photo.camera.product_name
        %td= photo.lens.product_name
        %td= photo.taken_at.strftime('%F %X')
        %td= photo.created_at.strftime('%F %X')
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_photo_path(photo), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_photo_path, :class => 'btn btn-primary'
