- model_class = Camera
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:manufacturer_id)
      %th= model_class.human_attribute_name(:name)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @cameras.each do |camera|
      %tr
        %td= link_to camera.id, admin_camera_path(camera)
        %td= camera.manufacturer.name
        %td= camera.name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_camera_path(camera), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_admin_camera_path, :class => 'btn btn-primary'
