= form_for @camera do |f|
  - if @camera.errors.any?
    #error_explanation
      %h2= "#{pluralize(@camera.errors.count, "error")} prohibited this camera from being saved:"
      %ul
        - @camera.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :manufacturer
    = f.text_field :manufacturer
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
