%p#notice= notice

%p
  %b Flickr photo:
  = @photo.flickr_photo_id
%p
  %b Title:
  = @photo.title
%p
  %b Camera:
  = @photo.camera
%p
  %b Lens:
  = @photo.lens
%p
  %b Taken at:
  = @photo.taken_at
%p
  %b Exposure:
  = @photo.exposure
%p
  %b Aperture:
  = @photo.aperture
%p
  %b Iso speed:
  = @photo.iso_speed
%p
  %b Photo url:
  = @photo.photo_url

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
